body {
    background-color: black;
}
p {
    color: red;
}

.container {
    min-width: 100%;
    min-height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card {
    width: 16rem;
    height: 8rem;
    background-color: black;
    border: 1px solid red;
    border-radius: 1rem;
    margin: auto;
}

.card-body {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 8rem;
}